body { 

background-image: url(img.png);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}*/

.fondo {

    background-image: url("img.png");
background-image: url(img.png);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;

height: 250px;
}

